<html>
    <head>
        
    </head>
    <body>
        <h1>Dashboard</h1>
        Hello, {{name}}! You've been here {{views}} times!
        <form  action="/logout" method="post">
            <button type="submit">LOGOUT</button>
        </form>
    </body>
</html>